<div id="page">
  <div>
    <h1>Tolgee Integration for Liquid</h1>
  </div>
  <div>
    <div>
      <span>Author: Allen</span>
    </div>
    <div>
      <div>{{ 'key1.hello' | t }}</div>
      <div>{{ 'key1.hello_with_params' | t: name: 'Bella' }}</div>
    </div>
  </div>
</div>
